@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #7C3AED;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px
}


link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 1rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: 2rem 2rem 2rem 0rem;
}
.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

